<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste de Personnes</title>
<link rel="stylesheet"  href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<div>
			<a href="/save/null" class="btn btn-primary">Ajouter</a>
		</div>
		<h2 th:if="${list.isEmpty()}">Il n'y a pas des personnes</h2>
			<div th:if="${!list.isEmpty()}">
				<h2>Personnes Blacklistés</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Commentaires</th>
							<th>Provenance</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="personne : ${list}">
							<td th:text="${personne.prenom}">
							<td th:text="${personne.nom}">
							<td th:text="${personne.commentaires}">
							<td th:text="${personne.provenance}">	
							<td><a th:href="@{/save/{id}}(id=${personne.id})}"></a>Editer</td>	
							<td><a th:href="@{/delete/{id}}(id=${personne.id})}"></a>Supprimer</td>	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>