<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste de Personnes</title>
<link rel="stylesheet"  href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class = "container">
		<form action="#" th:action="@{/save}" class= "form-group" th:objet=${personne} method="post">
			<div class="form-group">
				<label for="prenom">Prénom</label>
				<input type="text" name="prenom" class="form-control" id="prenom">
				<label for="nom">Nom</label>
				<input type="text" name="nom" class="form-control" id="nom">
				<label for="commentaire">Commentaires</label>
				<input type="text" name="commentaire" class="form-control" id="commentaire">
				<label for="prenom">Provenance</label>
				<input type="text" name="provenance" class="form-control" id="provenance">
			</div>
			<button type="submit" class="btn btn-succes">Ajouter</button>
		</form>
	</div>
</body>
</html>